<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>Details on the way</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="">
    <ion-img style="width: 350px; height: 150px;" src="../../../assets/details.png">
    </ion-img>
    <ion-card-header>
      <ion-card-title>Detailed pages</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        We added a page where you have the option to see the user information, creator of the app, info about the app
        and the new features
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>