<ion-header>
  <ion-toolbar color="">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/details"></ion-back-button>
    </ion-buttons>
    <ion-title type="text">Creator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-text color="dark"><i>Hello, my name is</i></ion-text>
  <ion-text color="danger"><i> Dimitar </i></ion-text>
  <ion-text color="dark"><i>and currently I am studying</i></ion-text>
  <ion-text color="secondary"><i> Ionic</i></ion-text>
  <ion-text color="dark"><i>. <ion-text color="dark"><i>This is my </i></ion-text> </i></ion-text>
  <ion-text color="warning"><i>first</i></ion-text>
  <ion-text color="dark"><i> ever app that I created with the help of "Ionic Academy"! I am </i></ion-text>
  <ion-text color="primary"><i> 13 years old</i></ion-text>
  <ion-text color="dark"><i> and</i></ion-text>
  <ion-text color="dark"><i> I am happy</i></ion-text>
  <ion-text color="dark"><i> my first project on Ionic is done :) </i></ion-text>
  <br>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="12" style="background: var(--ion-color-primary);" size-lg="8" offset-lg="2" size-xl="6" offset="0">
        Good luck with your tasks
      </ion-col>
      <ion-col size="12" style="background: var(--ion-color-secondary);" size-lg="8" offset-lg="2" size-xl="6"
        offset="0">
        Be prepared for more features</ion-col>
    </ion-row>
  </ion-grid>

  <ion-img src="./assets/mitko2.jpg">

  </ion-img>
</ion-content>