<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>What's new this week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="">
    <ion-img style="width: 400px; height: 200px;" src="../../../assets/calculator.png">
    </ion-img>
    <ion-card-header>
      <ion-card-title>Calculator</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        We implemented a calculator
        <br>
        so you can just calculate either the funds you are going to need to buy your groceries or just a funny feature
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>