<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/details"></ion-back-button>
    </ion-buttons>
    <ion-title>App Details</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-toolbar>
    <ion-title size="medium">Task Manager</ion-title>
  </ion-toolbar>
  <p>
    This app is made to help you with everyday activities and I created it so you can write what you have to do as a
    task throuout the day! <ion-text color="danger"><i>
        <h1>Always expect the unexpected :)</h1>
      </i></ion-text>
  </p>
  <h1 style="text-align:center">
    NEW FEATURE - CALCULATOR ↓
  </h1>
</ion-content>
<ion-button slot="end" expand="block" routerLink="/calculator">
  <ion-icon name="calculator"></ion-icon>
</ion-button>