<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>Tabs menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-img style="width: 350px; height: 150px;" src="../../../assets/side-menu.png"></ion-img>
    <ion-card-header>
      <ion-card-title>tabs-menu</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        This is our new tabs menu - provides you with additional comfort exploring the details of the application
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>