<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>Bug fixes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Complted all tasks</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        ↑ Tasks are deleted when you press "completed all tasks"↑
      </p>
    </ion-card-content>
  </ion-card>



  <ion-card>
    <ion-img style="width: 706px; height: 200px;" src="../../../assets/bugFix.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Enter empty tasks</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        ↑ This bug is NOW FIXED and you CANNOT add empty tasks now↑
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>