<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>Share button</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <h1 style="text-align:center">COMMING SOON - REMOVED</h1>
  <ion-card color="">
    <ion-img style="width: 357px; height: 200px;" src="../../../assets/share.png">
    </ion-img>
    <ion-card-header>
      <ion-card-title>Share</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>The share feature can redirect you to:
        <br>
        1. Facebook
        <br>
        2. Youtube
        <br>
        3. Twitter
        <br>
        so you can share our application and help it grow faster -- go and check it out if you didn't already
      </p>
    </ion-card-content>
  </ion-card>
  <h1 style="text-align:center">COMMING SOON - REMOVED</h1>
</ion-content>