<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/details"></ion-back-button>
    </ion-buttons>
    <ion-title>This week's changes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-img src="../../../assets/mitko.jpg"></ion-img>
    <ion-card-header>
      <ion-card-title>This week's changes are:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text>
        <p>
          1. Cleard a bug that you can enter a task without any characters in it
          <br>
          2. Numbered tasks
          <br>
          3. The power of deleting tasks
          <br>
          4. Added "New features this week"
          <br>
          5. Added details "about page", "user information", "information about the creator" and "information about the
          application"
          <br>
          6. Added a calculator feature
          <br>
          7. Added a completed all tasks screen
          <br>
          8. Added a share button
          <br>
          9. Added image tab
          <br>
          10. New UI changes
          <br>
          11. Tabs to navigate quickly
        </p>
      </ion-text>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="radio-outline" slot="start"></ion-icon>
      <ion-label>Task removal</ion-label>
      <ion-button routerLink="/second-card-details" type="submit" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Now you can remove your tasks
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="pin-outline" slot="start"></ion-icon>
      <ion-label>Bug fix</ion-label>
      <ion-button routerLink="/third-card-details" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Fixed bugs for more details →
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="play-circle" slot="start"></ion-icon>
      <ion-label>Numbered tasks</ion-label>
      <ion-button routerLink="/fourth-card-details" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Now your tasks are in numbered order
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="create" slot="start"></ion-icon>
      <ion-label>What's New</ion-label>
      <ion-button routerLink="/fifth-card" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      Added a page that you can see the new content comming out
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="newspaper-sharp" slot="start"></ion-icon>
      <ion-label>Added detailed pages</ion-label>
      <ion-button routerLink="/sixth-card" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>"about page", "user information", "information about the creator" and "information about the
      application"</ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="calculator-sharp" slot="start"></ion-icon>
      <ion-label>Added a calculator</ion-label>
      <ion-button routerLink="/seventh-cad" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      see for more details →
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item>
      <ion-icon name="logo-laravel" slot="start"></ion-icon>
      <ion-label>Completed tasks</ion-label>
      <ion-button routerLink="/eight-card" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      <p>Added a completed all tasks screen</p>
    </ion-card-content>
  </ion-card>


  <ion-card>
    <ion-item>
      <ion-icon name="share" slot="start"></ion-icon>
      <ion-label>Share Button</ion-label>
      <ion-button routerLink="/ninth-card" fill="outline" slot="end">View</ion-button>
    </ion-item>

    <ion-card-content>
      <p>Added a share button ↓</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="image-sharp" slot="start"></ion-icon>
      <ion-label>Added images →</ion-label>
      <ion-button routerLink="/tenth-card" fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      <p>Here you can see all the added images to the app </p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="book-sharp" slot="start"></ion-icon>
      <ion-label>New UI changes</ion-label>
      <ion-button routerLink="/ele-card" fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      <p>New UI Changes on home screen</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-item>
      <ion-icon name="book-sharp" slot="start"></ion-icon>
      <ion-label>Tabs to navigate</ion-label>
      <ion-button routerLink="/twelve-card" fill="outline" slot="end">View</ion-button>
    </ion-item>
    <ion-card-content>
      <p>For more info →</p>
    </ion-card-content>
  </ion-card>
</ion-content>