<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title color="danger">New changes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="">
    <ion-card-header>
      <ion-card-title>New UI Changes</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        1. The buttons are now realigned and are more beautiful
        <br>
        2. The text is colored in different colors and is centered
        <br>
        <ion-text color="danger">3. A new "delete task" button added</ion-text>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>