<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>What's new this week</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card color="">
    <ion-img style="width: 350px; height: 150px;" src="../../../assets/features.png">
    </ion-img>
    <ion-card-header>
      <ion-card-title>New this week</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        We implemented a page that we write every uptade on this app for the specified week of cource :)
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>