<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>Removing tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-card>
    <ion-img style="width: 350px; height: 150px;" src="../../../assets/delete.png"></ion-img>
    <ion-card-header>
      <ion-card-title>Task removing feature</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <p>
        So this new feature provides you with the power of removing your own tasks, lets say you've completed one or
        just did something wrong with your task.
        Now you have the POWER to delete it!!!
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>