<ion-header [translucent]="true">
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo List App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-text color="danger" style="text-align:center;"><i>Well Done. You've completed everything for today! Come back
        tomorrow</i></ion-text>
  </ion-item>

  <div class="link-content-movie">
    <ion-button expand="full">
      <a target="_blank" href="https://www.hbo.bg">
        Watch a movie
      </a>
    </ion-button>
  </div>

  <div class="link-content">
    <ion-button expand="full">
      <a target="_blank" href="https://www.youtube.com">
        Fast youtube Hyperlink
      </a>
    </ion-button>
  </div>