<ion-header [translucent]="true">
  <ion-toolbar color="">
    <ion-back-button defaultHref="/home"></ion-back-button>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todo List App</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-text color="danger"><i>Well Done. You've completed everything for today! Come back tomorrow</i></ion-text>
  </ion-item>

  <div class="link-content-movie">
    <a href="https://www.hbo.bg">
      <h2>Watch a movie</h2>
    </a>
  </div>

  <div class="link-content">
    <a href="https://www.youtube.com">
      <h2>Go watch some videos you deserve it!</h2>
    </a>
  </div>