<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button type="button" defaultHref="/details"></ion-back-button>
    </ion-buttons>
    <ion-title size="undefined"></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-avatar slot="start">
      <img src="/assets/unknown.jpg">
    </ion-avatar>
    <ion-label>Unknow</ion-label>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>
        Please register so you can get notifications and more cool features
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>