<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/changes"></ion-back-button>
    </ion-buttons>
    <ion-title>Numbered tasks</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-content fullscreen>
    <ion-card>
      <ion-img style="width: 350px; height: 150px;" src="../../../assets/numbers.png"></ion-img>
      <ion-card-header>
        <ion-card-title>Numbered tasks</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          This new feature provides you with help, so you can easily see how much tasks you have enterd for this day.
        </p>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>